.plus-page {
    .el-card__body {
        padding: 16px 20px;
    }
    .el-card.is-always-shadow,
    .el-card.is-hover-shadow:focus,
    .el-card.is-hover-shadow:hover {
        box-shadow: 0 0 10px #0000001f;
    }
    .plus-pagination {
        padding-bottom: 0;
    }
}
.el-main .plus-page .plus-page__table_wrapper {
    margin-top: 10px;
}

//更改搜索/重置顺序
.plus-search__button__wrapper .el-button {
    order: 2;
}

.plus-search__button__wrapper .el-button--primary {
    order: 1;
    margin-left: 0;
    margin-right: 20px;
}

.plus-search__button__wrapper .el-link {
    order: 3;
}
