.plus-page {
    .el-card__body {
        padding: 16px 20px;
    }
    .el-card.is-always-shadow,
    .el-card.is-hover-shadow:focus,
    .el-card.is-hover-shadow:hover {
        box-shadow: 0 0 10px #0000001f;
    }
    .plus-pagination {
        padding-bottom: 0;
    }
}
.el-main .plus-page .plus-page__table_wrapper {
    margin-top: 10px;
}

// 弹框样式修改
.el-dialog.plus-dialog {
    padding: 0;
    .el-dialog__header {
        border-bottom: 1px solid #f0f0f0;
        background-color: #f7f8fa;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        color: #333;
        font-weight: 400;
        border-radius: 4px 4px 0 0;
        padding-bottom: 0;
        padding-left: 20px;
    }
    .el-dialog__body {
        padding: 20px 20px;
    }
    .el-dialog__footer {
        padding: 12px 20px;
        border-top: 1px solid #f0f0f0;
        // background-color: #f7f8fa;
    }
}

// Drawer样式修改
.el-drawer__title {
    font-weight: 600;
}

// MessageBox
.el-message-box {
    .el-icon {
        font-size: 24px;
    }
    .el-message-box__message {
        font-size: 16px;
    }
}

//更改搜索/重置顺序
.plus-search__button__wrapper .el-button {
    order: 2;
}

.plus-search__button__wrapper .el-button--primary {
    order: 1;
    margin-left: 0;
    margin-right: 20px;
}

.plus-search__button__wrapper .el-link {
    order: 3;
}
